.container {
  max-width: 30%;
}
.wrapper{
  max-width: 400px;
  padding: 24px;
}


.components {
  background-color: rgb(255, 168, 92);
  border-radius: 5%;
}

.select {
  width: 85%;
}

#add-exercise-button {
  margin-left: 5px;
}

#btn-save-property {
  display: none;
}

#new-exercice {
  display: none;
}

.form-compnents-select {
  display: flex;
}

.save-container {
  display: flex;
  justify-content: space-between;
}

#new-exercice {
  width: 278px;
}
.submit{
  align-items: center;
}